/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
} */

/* .heading {
    justify-content: center;
    font-size: 2em;
    text-align: center;
    margin: 4em 0;
} */

ul {
    list-style-type: none;
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 2em;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 7px 11px #061217, -7px -7px 11px #0c202b;
}

ul li{
    cursor: pointer;
    position: relative;
    text-align: center;
}

li.active::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ff105e;
    left: 0;
    bottom: -7px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: appear 0.2s linear;
}

@keyframes appear{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}